{% extends 'major/base.html' %}


{% block main_area %}
<div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <div style="float:left;">
                    <h4 class="card-title " >희망 지망</h4>
                  </div>
                  <div style="float:right;">
                    <button class="btn btn-primary pull-right"  type="button">입력하기</button>
                  </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <td></td>
                        <td></td>
                        <td style="font-weight:bold">
                          <b>지망</b>
                        </td>
                        <td></td>
                        <td style="font-weight:bold">
                          전공
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#feffde" style="font-weight:bold">
                          내 점수
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </thead>
                      <thead class="text-primary">
                        <td></td>
                        <td></td>
                        <td class="text-primary">
                          <b>1</b>
                        </td>
                        <td></td>
                        <td>
                          컴퓨터공학전공
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-primary"  bgcolor="#feffde">
                          <b>792</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </thead>
                      <thead class="text-primary">
                        <td></td>
                        <td></td>
                        <td class="text-primary">
                          <b>2</b>
                        </td>
                        <td></td>
                        <td>
                          사이버보안전공
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-primary" bgcolor="#feffde">
                          <b>792</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </thead>
                      <thead class="text-primary">
                        <td></td>
                        <td></td>
                        <td class="text-primary">
                          <b>3</b>
                        </td>
                        <td></td>
                        <td>
                          식품영양학전공
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-primary" bgcolor="#feffde">
                          <b>392</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </table>
                  </div>

            </div>
        </div>
</div>
{% endblock %}
