{% extends 'major/base.html' %}


{% block main_area %}
<div class="v504_275">
    <div class="v504_335">

    </div>
        <div class="v504_276">

        </div>
        <span class="v504_277">작년 합격자 평균 정보</span>
        <span class="v504_278">솔루션</span>
        <span class="v504_279">점수</span>
        <span class="v504_280">평균 총 점수</span>
        <div class="v504_281">

        </div>
        <span class="v504_282">평균 이수 학점</span>
        <div class="v504_283"></div>
        <span class="v504_284">마일리지 점수</span>
        <span class="v504_285">300점</span>
        <span class="v504_286">39학점</span>
        <div class="v504_287"></div>
        <span class="v504_288">강의 수강 이력</span>
        <div class="v504_289"></div>
        <div class="v504_290"></div>
        <span class="v504_291">평균 총 점수</span>
        <div class="v504_292"></div>
        <span class="v504_293">평균 총 점수</span>
        <div class="v504_294"></div>
        <div class="v504_295"></div>
        <span class="v504_296">18학점</span>
        <div class="v504_297"></div>
        <div class="v504_298"></div>
        <span class="v504_299">200점</span>
        <div class="v504_300"></div>
        <div class="v504_301"></div>
        <div class="v504_303"></div>
        <div class="v504_304"></div>
        <span class="v504_305">판단 결과 : 상향</span>
        <div class="v504_306"></div>
        <span class="v504_307">792점</span>
        <span class="v504_308">992점</span>
        <span class="v504_309">내 정보</span>
        <span class="v504_310">컴퓨터공학과</span>
        <div class="v504_311"></div>
        <span class="v504_320">점수</span>
        <span class="v504_321">평균 200점 부족해요 ! </span>
        <span class="v504_322">강의 수강 이력</span>
        <div class="v504_323"></div>
        <span class="v504_324">강의 수강을 완료하셨네요 :) </span>
        <span class="v504_325">이수학점</span>
        <div class="v504_326"></div>
        <span class="v504_327">평균 21학점 부족해요 ! </span>
        <span class="v504_328">마일리지</span>
        <div class="v504_329"></div>
        <span class="v504_330">전공선택 디딤돌에 참여하세요 ! </span>
        <span class="v504_312">유저 프로필 </span>
        <span class="v504_313">전선 수강 내역</span>
        <span class="v504_314">희망 지망 선택</span>
        <div class="v504_315"></div>
        <div class="v504_316"></div>
        <span class="v504_317">학점 등록 & </span>
        <span class="v504_318">비교과 이수 현황 </span>
        <div class="v504_319"></div>
        <span class="v504_331">Dashboard</span>
        <div class="v504_332"></div>
        <div class="v504_333"></div>
        <div class="v504_334"></div>
        <span class="v530_275">컴퓨터와 친해지기</span>
        <span class="v530_276">컴퓨터와 친해지기</span>
</div>
{% endblock %}