{% extends 'major/base.html' %}


{% block main_area %}
<div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
                  <div style="float:left;">
                    <h4 class="card-title " >전공 탐색 수강 내역</h4>
                  </div>
                  <div style="float:right;">
                    <button class="btn btn-primary pull-right"  type="button">입력하기</button>
                  </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <td>
                          <b>1학년 1학기</b>
                        </td>
                        <td>
                          개설 학과
                        </td>
                        <td>
                          교과목
                        </td>
                      </thead>
                      <thead class="text-primary">
                        <td>

                        </td>
                        <td>
                          컴퓨터공학전공
                        </td>
                        <td>
                          컴퓨터와 친해지기
                        </td>
                      </thead>
                      <tbody class="text-primary">
                        <td>

                        </td>
                        <td>
                          사이버보안전공
                        </td>
                        <td>
                          사이버보안개론
                        </td>
                      </tbody>
                      <tbody class="text-primary">
                        <td>

                        </td>
                      </tbody>
                    </table>
                  </div>

            </div>
          </div>
        </div>
{% endblock %}