{% extends 'major/base.html' %}


{% block main_area %}
<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div style="float:left;">
                    <h4 class="card-title " >학점 등록</h4>
                  </div>
                  <div style="float:right;">
                    <button class="btn btn-primary pull-right"  type="button">입력하기</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody class=" text-primary">
                        <td>
                          <b>1학기</b>
                        </td>
                        <td>
                          이수학점
                        </td>
                        <td>
                          <input type="text" class="form-control" style="color:#8b92a9" value="18">
                        </td>
                        <td>
                          평점평균
                        </td>
                        <td>
                          <input type="text" class="form-control" style="color:#8b92a9" value="4.1">
                        </td>
                      </tbody>
                      <tbody class="text-primary">
                        <td>
                            
                        </td>
                        <td>
                          총 이수학점
                        </td>
                        <td class="text-primary">
                          <b>18</b>
                        </td>
                        <td>
                          전체 성적
                        </td>
                        <td class="text-primary">
                          <b>4.1</b>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <div style="float:left;">
                    <h4 class="card-title mt-0"> 비교과 이수 현황</h4>
                  </div>
                  <div style="float:right;">
                    <button class="btn btn-primary pull-right"  type="button">입력하기</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          프로그램명
                        </th>
                        <th>
                           
                        </th>
                        <th align=center>
                          활동점수
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            2022-1 투게더! 덕성 학습 공동체 (자율 학습 공동체)
                          </td>
                          <td>
                             
                          </td>
                          <td>
                            50
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2022년 재학생 생명 존중 교육
                          </td>
                          <td>
                             
                          </td>
                          <td>
                            50
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2022학년도 1학기 전공(학기)별 찾아가는 진로 및 취업 특강
                          </td>
                          <td>
                             
                          </td>
                          <td>
                            50
                          </td>
                        </tr>
                        <tr>
                          <td>
                            2022-1학기 (전공 교과목, 캡스톤 디자인 맞춤 학습 공동체)
                          </td>
                          <td>
                             
                          </td>
                          <td>
                            50
                          </td>
                        </tr>
                        <tr>
                          <td>
                            
                          </td>
                          <td class="text-primary">
                             <b>합산점수</b>
                          </td>
                          <td class="text-primary">
                            <b>50</b>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}