<div class="sidebar" data-color="purple" data-background-color="black">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    -->
      <div class="logo"><a href="../dashboard" class="simple-text logo-normal">
          Major League
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active ">
            <a class="nav-link" href="../dashboard/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../user">
              <i class="material-icons">person</i>
              <p>유저 프로필</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../score">
              <i class="material-icons">content_paste</i>
              <p>학점 등록 & <br> 비교과 이수 현황</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./typography.html">
              <i class="material-icons">library_books</i>
              <p>전선 수강 내역</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./notifications.html">
              <i class="material-icons">notifications</i>
              <p>희망 지망 선택</p>
            </a>
          </li>
        </ul>
      </div>
    </div>