{% extends 'major/base.html' %}

{% block main_area %}
<div class="container-fluid">
            <div class="col-md-8" >
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">20220001 김덕성</h4>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <span class="text">소속</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating"></label>
                          <input type="text" class="form-control" style="color:#000" value="과학기술대학">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <span class="text">이름</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating"></label>
                          <input type="text" class="form-control" style="color:#000" value="김덕성">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <span class="text">이메일</span>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating"></label>
                          <input type="email" class="form-control" style="color:#000" value="kimds@duksung.ac.kr">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">등록하기</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}